@import "tailwindcss";

@theme inline {
  --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Arial, "Noto Sans",
    "Liberation Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
